  <div class="image">
    <h1 class="display-4" style="color: white;">Benvenuto nel mondo di Giacomo Leopardi</h1>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="..." alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="..." alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="..." alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Precedente</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Successiva</span>
      </a>
    </div>
    <p class="lead" style="margin-top: 20px;">
      <a class="btn btn-primary btn-lg" routerLink="/chi-siamo" role="button">Chi siamo</a>
    </p>



</div>

  <!--<div class="card-deck">
    <div class="card" id="card1">
      <img class="card-img-top" src="assets\images\sala leopardi.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">La casa</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card" id="card2">
      <img class="card-img-top" src="assets\images\storiaDiUnAnima.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">La storia</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card" id="card3">
      <img class="card-img-top" src="assets\images\silvia-leopardi.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">A Silvia</h5>
        <p class="card-text">A Silvia è una lirica composta da Giacomo Leopardi, tra il 19 e il 20 aprile del 1828, subito dopo Il risorgimento. Leopardi la scrisse poi in forma definitiva il 29 settembre. Parla della distruzione delle speranze e delle illusioni giovanili (argomento utilizzato molto dallo stesso Leopardi).</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
-->
