h1{
    font-size: 40px;
}

.card-deck{
    margin-left: auto;
    margin-right: auto;
}

.card-text{
    font-size: smaller;
}

h5{
    font-size: 15px;
}

.card-img-top{
    
}

.image{
    height:40em; background-size:cover; width:auto;
    background-image:url('C:\Users\User\Desktop\Repository GitHub\GiacomoLeopardi\GiacomoLeopardiProject\front-end\front-end-leopardi\src\assets\images\Giacomo_Leopardi_Morelli.jpg');
    background-position:50% 50%;
    opacity: 85%;
    margin-bottom: -20px;
  }

@media all and (max-width: 500px){
    .card{
        width: 250px;
    }

    .card-deck{
        text-align: -webkit-center;
    }

    .image{
        height:40em; background-size:cover; width:auto;
        background-image:url('C:\Users\User\Desktop\Repository GitHub\GiacomoLeopardi\GiacomoLeopardiProject\front-end\front-end-leopardi\src\assets\images\Giacomo_Leopardi_Morelli.jpg');
        background-position:50% 50%;
        opacity: 85%;
        margin-bottom: -80px;
      }
  }

