<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <p style="color:whitesmoke;">
  Giacomo Leopardi APP
</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <ul class="collapse navbar-collapse" id="navbarSupportedContent">
    <li><a class="navbar-brand" routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a class="navbar-brand" routerLink="/chi-siamo" routerLinkActive="active">Chi siamo</a></li>
    <li><a class="navbar-brand" routerLink="/mappa" routerLinkActive="active">Percorso</a></li>
    <li><a class="navbar-brand" routerLink="/poesia" routerLinkActive="active">Testi</a></li>
    <li><a class="navbar-brand" routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a class="navbar-brand" routerLink="/prenotazione-visita" routerLinkActive="active">Prenota il tuo Tour</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Giacomo Leopardi 2020</p>
    </div>
    <!-- /.container -->
  </footer>