<div>
    <div *ngIf="loginEffettuato" class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb30 text-center">
                <h2>Prenota il tuo Tour per il magnifico percorso leopardiano</h2>
            </div>
        </div>
        <div class="row">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb30">
                <div class="tour-booking-form">
                    <form>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                <h4 class="tour-form-title">Dettagli prenotazione</h4>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="control-label" for="datepicker">Data del tour</label>
                                    <div class="input-group">
                                        <input id="datepicker" name="datepicker" type="date" placeholder="Data desiderata"
                                            class="form-control" required>
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span> </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="control-label" for="time">Orario desiderato</label>
                                    <div class="input-group">
                                        <input id="time" name="time" type="time" placeholder="Orario"
                                            class="form-control" required>
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span> </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="control-label required" for="select">Numero dei componenti del
                                        gruppo:</label>
                                    <div class="input">
                                        <input id="number" type="number" placeholder="0-30" min="1" max="30"
                                            class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt30">
                                <h4 class="tour-form-title">Informazioni generali referente del gruppo</h4>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="control-label" for="name">Nome</label>
                                    <input id="name" type="text" placeholder="Inserisci il tuo nome"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="control-label" for="name">Cognome</label>
                                    <input id="name" type="text" placeholder="Inserisci il tuo cognome"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="control-label" for="email"> Email</label>
                                    <input id="email" type="text" placeholder="xxxx@xxxx.xxx" class="form-control"
                                        required>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="control-label" for="phone"> Cellulare</label>
                                    <input id="phone" type="text" placeholder="Inserisci il tuo numero di cellulare"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="control-label" for="country">Paese</label>
                                    <input id="country" type="text" placeholder="Inserisci il tuo paese"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="control-label" for="city">Città</label>
                                    <input id="city" type="text" placeholder="Inserisci la tua città"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="control-label" for="textarea">Informazioni aggiuntive</label>
                                    <textarea class="form-control" id="textarea" name="textarea" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <button type="submit" name="singlebutton" class="btn btn-primary">Invia
                                    richiesta</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>